<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emmy's Fashion Line</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
<header>
    <img src="/assets/image/logo.png">
    <b>Welcome to Emmy's Fashion Store</b>
</header>

<nav>
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/contact">Contact Us</a> </li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/signup">Sign Up</a> </li>
        <li><a href="/help">Help Center</a> </li>
    </ul>
</nav>


<section>
    <h1>List of Available Good Stuffs</h1>
    <ol>
        <li>Pants and Bras</li>
        <li>Jeans and Socks</li>
        <li>Jewelries and Stones </li>
        <li>Watches and Shoes</li>
    </ol>
</section>


</body>
</html>